<section class="m-2" >
    
    <p-card  >
        
        <h2 class="my-2" >
            Opciones de Voto: 
        </h2>

        <div *ngFor="let opc of opcionesVoto;let i = index" 
            class="p-field-checkbox">
            <form [formGroup]="miForm" class="flex align-items-center" >

                <p-radioButton class="m-2"
                            [inputId]="opc" 
                            name="seleccion" [value]="opc" 
                            formControlName="seleccion"
                            >
    
                </p-radioButton>
                <label [for]="i">{{opc}}</label>
            </form>
        </div>
        <button pButton id="btnBoto" (click)="enviarVoto()" >Listo</button>
        
    </p-card>
</section>
<p-toast></p-toast>
