<h2 class="text-center mt-1 text-200 text-5xl" >{{titulo}}</h2>
<div class="flex justify-content-center">

    <p-card styleClass="my-2 w-full shadow-2">
        <form [formGroup]="miFormulario"  >
            <div class="grid">
                <div class="p-field col-5">
                    <label for="titulo">Titulo Votacion: </label>
                    <input id="titulo" type="text" 
                        aria-describedby="titulo-help" pInputText
                        formControlName="titulo" />
                        <br>
                        <span *ngIf="campoEsValido('titulo')" class="text-orange-900" >
                            Campo titulo es obligatorio
                        </span>
                </div>
                

                <div class="p-field col-5" *ngIf="!isModificar" >
                    <label for="titulo">Opciones votar: </label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText id="opcion"
                            [formControl]="opciones" >      
                        <button type="button" pButton 
                            class=" p-button-outlined"
                            (click)="agregarOpcion()" >
                            Agregar
                        </button>                          
                    </div>
                    <span *ngIf="campoEsValido('opcionesVoto')" class="text-orange-900" >
                        Campo Votar es obligatorio.
                    </span>
                </div>
                
            </div>

            <div class="grid">
                <div class="col-5"></div>
                <div class="p-field col-5 my-1" formArrayName="opcionesVoto" >
                    <div  *ngFor="let opc of opcionesVotar.controls; let i = index" 
                        class="p-inputgroup">
                        <input type="text" pInputText 
                            readonly 
                            [formControlName]="i"   >      
                        <button type="button" pButton 
                            icon="pi pi-times" class="p-button-danger p-button-outlined">
                        </button>                          
                    </div>
                </div>
            
            </div>


            <div class="grid">
                <div class="p-field col-5">
                    <div class="p-field p-col-12 p-md-4">
                        <label for="icon">Fecha de inicio: </label>
                        <p-calendar formControlName="inicio" [locale]="es"
                            inputId="basic"[showIcon]="true" inputId="icon">
                        </p-calendar>
                    </div>                
                </div>

                <div class="p-field col-5">
                    <div class="p-field p-col-12 p-md-4">
                        <label for="icon">Fecha de fin:</label>
                        <p-calendar id="fechaFin"
                            [showIcon]="true" inputId="icon"
                            formControlName="fin"
                            >

                        </p-calendar>
                    </div>   
                    <span *ngIf="campoEsValido('fin')" class="text-orange-900" >
                        Campo fecha de fin es obligatorio
                    </span>             
                </div>

            </div>
            <div class="grid" 
                    
                     >
                <div class="col-5" *ngIf="modifiOCrear; else elseBlock" >
                    <button pButton type="button"
                        label="Crear" class="mt-2 p-button-outlined"
                        (click)="guardarEncuesta()" >
                    </button>
                </div>

                <ng-template #elseBlock >

                    <div class="col-5" >
                        <button pButton type="button"
                            label="Modificar" class="mt-2 p-button-secondary"
                            (click)="modificarEncuesta()" >
                        </button>
                    </div>
                </ng-template>

            </div>
            
        </form>
    </p-card>
</div>
