<body  >
    <header class="mb-8" >
        <div class="bg-blue-500 border-round-bottom shadow-2 absolute w-100 top-0 left-0 " >
            <h1 class="scalein text-white 
                uppercase
                text-shadow text-left ml-4 
                text-7xl
                ">
                Vota Online
            </h1>

        </div>
    
    </header>
    
    <main class="text-center mt-5">
    
        <div class="flex justify-content-around">
    
            <div class="col-6 text-justify">
                <p class="text-5xl font-semibold texto-gradiente ">
                    Crea votaciones, mantelas guardadas, elige las opciones a votar, 
                    visualiza con gráfica,
                    pon una fecha límite de cierre.
                </p>
    
                <div class="text-center mt-7" >
    
                    <button pButton type="button" class="p-button-raised mr-4 p-button-success" routerLink="/auth/registro">
                        Crear cuenta
                    </button>
    
                    <button pButton type="button" class="p-button-info p-button-raised" routerLink="/auth/login">
                        Iniciar Sesión
                    </button>
    
                </div>
            </div>
            <div class="col-5">
                <p-card styleClass="surface-200 h-0 transparent" >
                    <h3 class="text-xl text-blue-700">
                        Nombre Votacion:
                        <span class="font-light text-700">Comida para día Viernes</span>
                    </h3>
                    <app-grafica [type]="'pie'" [data]="data"></app-grafica>
    
                </p-card>
            </div>
        </div>
    
    </main>
</body>
