.text-width{
    width: 100%;
}
.text-shadow{
    text-shadow: .5px .5px 2px #000;
}
.ilustracion{
    width: 100%;
}
.w-100{
    width: 100%;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
@media( max-width: 480px) {
    header div{
        margin-bottom: .2rem !important;
    }
    h1{
        font-size:2.5rem!important;
    }
    p{
        font-size: 1.7rem !important;
    }
    button{
        margin: .5rem 0 !important;
    }
}