<p-card>
    <div class="grid flex align-items-center">

        <div class="col-6">
            <p-card header="Detalles">
                <div *ngIf="votacion" >
                    <h3  >Titulo votacion: {{ votacion.titulo }}</h3>
                    <p>Fecha inicio: {{votacion.inicio | date}} </p>
                    <p>Fecha de término: {{votacion.fin | date}} </p>
                    <p>Número de votaciones: {{cantidadVotaciones}}</p>
                    <p>Opción con más votos: {{votacionMasVotada}}</p>

                </div>
            </p-card>
        </div>

        <div class="col-6">

            <p-chart type="bar" [data]="multiAxisData"></p-chart>

        </div>
    </div>
</p-card>