<p-card styleClass="mt-3" >
    <div class="grid flex align-items-center">

        <div class="col-6">
            <p-card header="Detalles" >
                <div *ngIf="votacion" >
                    <h3  >Titulo votacion: 
                        <span class="font-medium" >{{ votacion.titulo }}</span> 
                    </h3>
                    <p>Fecha inicio: {{votacion.inicio | date}} </p>
                    <p>Fecha de término: {{votacion.fin | date}} </p>
                    <p>Número de votaciones: {{cantidadVotaciones}}</p>
                    <p>Opción con más votos: 
                        <span class="font-bold" >{{votacionMasVotada}} </span> 
                    </p>
                    <button pButton routerLink='/panel/voto/{{votacion._id}}' >
                        Link Votacion
                    </button>

                </div>
            </p-card>
        </div>

        <div class="col-6">

            <p-chart type="bar" [data]="multiAxisData"></p-chart>

        </div>
    </div>
</p-card>